extends ../layout/main
include ../mixins/mixins

block title
    | icons

block content

    .container
        .row
            .col-lg-12.text-center
                h2.text-center.text-uppercase svg icoons

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'app-store')
                    p.default-svg__title.text-center app-store.svg
            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'archive')
                    p.default-svg__title.text-center archive.svg
            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'azn')
                    p.default-svg__title.text-center azn.svg
            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'bar-icon')
                    p.default-svg__title.text-center bar-icon.svg
            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'bars')
                    p.default-svg__title.text-center bars.svg
            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'bars-thin')
                    p.default-svg__title.text-center bars-thin.svg
            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'bell')
                    p.default-svg__title.text-center bell.svg
            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'calendar')
                    p.default-svg__title.text-center calendar.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'calendar-simple')
                    p.default-svg__title.text-center calendar-simple.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'calendar_arrow')
                    p.default-svg__title.text-center calendar_arrow.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'calendar_arrow_right')
                    p.default-svg__title.text-center calendar_arrow_right.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'facebook')
                    p.default-svg__title.text-center facebook.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'facebook-00')
                    p.default-svg__title.text-center facebook-00.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'facebook-f-brands')
                    p.default-svg__title.text-center facebook-f-brands.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'twitter-brands')
                    p.default-svg__title.text-center twitter-brands.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'youtube')
                    p.default-svg__title.text-center youtube.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'youtube-button')
                    p.default-svg__title.text-center youtube-button.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'instagram')
                    p.default-svg__title.text-center instagram.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'close')
                    p.default-svg__title.text-center close.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'close-x')
                    p.default-svg__title.text-center close-x.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'marker')
                    p.default-svg__title.text-center marker.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'phone')
                    p.default-svg__title.text-center phone.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'close-envelope')
                    p.default-svg__title.text-center close-envelope.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'eye')
                    p.default-svg__title.text-center eye.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'down-arrow')
                    p.default-svg__title.text-center down-arrow.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'coefficient')
                    p.default-svg__title.text-center coefficient.svg

            .col-2
                div.default-svg
                    +svg('default-svg__icon', 'club')
                    p.default-svg__title.text-center club.svg
