//extends ../layout/main
//include ../mixins/mixins
//
//block title
//    | index
//
//block content
//    .content.col-xl-6.order-xl-2.order-1.col-lg-12.pb-50
//        include ../components/android-banner-app
//        include ../components/plank
//        include ../components/alinement
//        // table index (vaxta görə)
//        each val in [1, 2]
//            .chart-wraper.chart-wraper_decor-border.chart-wraper_mb
                  img.w-100(src="https://picsum.photos/512/361?image=113")
//                table(class="chart chart_striped-odd chart_radius")
//                    thead
//                        tr.chart-header.chart-header_bg
//                            th.chart-header__th.d-md-table-cell.d-none
//                                table.chart-header__table
//                                    tr
//                                        td.chart-header__table-img
//                                            span.d-block.chart-header__flags.flags.flags-category.flags--england-southern-premier-league
//
//
//                            th.chart-header__th.chart-header__th_p_0(colspan="4").d-md-table-cell.d-none
//                                table.chart-header__table
//                                    tr
//                                        td.chart-header__title
//                                            span.chart-header__title-up International
//                                            span.chart-header__title-down English Premier League
//
//                            th.chart-header__th(colspan="5").d-md-none.d-table-cell
//                                table.chart-header__table
//                                    tr
//                                        //td.chart-header__table-img
//                                            span.d-block.chart-header__flags.flags.flags-category.flags--england-southern-premier-league
//                                        td.chart-header__table-title.text-center.position-relative
//                                            span.d-block.chart-header__flags.chart-header__flags_mob.flags.flags-category.flags--england-southern-premier-league
//                                            span.chart-header__title-down.chart-header__title-down_bold English Premier League
//
//
//                        tr.chart__tr
//                            td.chart__cell.chart__cell_center.chart__cell_bold.chart__cell_green.chart__cell_bg-white-gray.chart__cell_box '91
//                            td.chart__cell.chart__cell_right.chart__cell_thumb
//                                span.chart__card.chart__card_yellow.chart__card_left 2
//                                span.chart__card.chart__card_red.chart__card_left 2
//                                a.chart__thumb-span(href="#") AS Roma
//                            td.chart__cell.chart__cell_center.chart__cell_bold.chart__cell_bg-white-gray.chart__cell_box-mid
//                                a(href="#") 3 - 1
//                            td.chart__cell.chart__cell_left.chart__cell_thumb
//                                span.chart__card.chart__card_red.chart__card_right 2
//                                a.chart__thumb-span(href="#") Liverpool
//                            td.chart__cell.chart__cell_center.chart__cell_box-min
//                                i.fa.fa-star.chart__icon(aria-hidden="true")
//
//                        tr.chart__tr
//                            td.chart__cell.chart__cell_center.chart__cell_bold.chart__cell_bg-white-gray.chart__cell_box
//                                table.table-box__inner
//                                    tr.bg-gray-light
//                                        td.font-bold.color-green FT
//                                    tr.bg-gray-light
//                                        td.font-normal 22/07
//                            td.chart__cell.chart__cell_right.chart__cell_thumb
//                                span.chart__card.chart__card_yellow.chart__card_left 2
//                                span.chart__card.chart__card_red.chart__card_left 2
//                                a.chart__thumb-span(href="#") Real Madrid
//                            td.chart__cell.chart__cell_center.chart__cell_bold.chart__cell_bg-white-gray.chart__cell_box-mid
//                                a(href="#") 3 - 1
//                            td.chart__cell.chart__cell_left.chart__cell_thumb
//                                span.chart__card.chart__card_red.chart__card_right 2
//                                a.chart__thumb-span(href="#") Bayern Munchen
//                            td.chart__cell.chart__cell_center.chart__cell_box-min
//                                i.fa.fa-star.chart__icon(aria-hidden="true")
//
//
//                        tr.chart__tr
//                            td.chart__cell.chart__cell_center.chart__cell_bold.chart__cell_green.chart__cell_bg-white-gray.chart__cell_box '91
//                            td.chart__cell.chart__cell_right.chart__cell_thumb
//                                span.chart__card.chart__card_yellow.chart__card_left 2
//                                span.chart__card.chart__card_red.chart__card_left 2
//                                a.chart__thumb-span(href="#") Bayern Munchen
//                            td.chart__cell.chart__cell_center.chart__cell_bold.chart__cell_bg-white-gray.chart__cell_box-mid
//                                a(href="#") 3 - 1
//                            td.chart__cell.chart__cell_left.chart__cell_thumb
//                                span.chart__card.chart__card_red.chart__card_right 2
//                                a.chart__thumb-span(href="#") Real Madrid
//                            td.chart__cell.chart__cell_center.chart__cell_box-min
//                                i.fa.fa-star.chart__icon(aria-hidden="true")
//
//                        tr.chart__tr
//                            td.chart__cell.chart__cell_center.chart__cell_bold.chart__cell_green.chart__cell_bg-white-gray.chart__cell_box '91
//                            td.chart__cell.chart__cell_right.chart__cell_thumb
//                                span.chart__card.chart__card_yellow.chart__card_left 2
//                                span.chart__card.chart__card_red.chart__card_left 2
//                                a.chart__thumb-span(href="#") FC Porto
//                            td.chart__cell.chart__cell_center.chart__cell_bold.chart__cell_bg-white-gray.chart__cell_box-mid
//                                a(href="#") 3 - 1
//                            td.chart__cell.chart__cell_left.chart__cell_thumb
//                                span.chart__card.chart__card_red.chart__card_right 2
//                                a.chart__thumb-span(href="#") Monaco
//                            td.chart__cell.chart__cell_center.chart__cell_box-min
//                                i.fa.fa-star.chart__icon(aria-hidden="true")
