// colors
$color: #20BF6B;
$dark-color: #29B069;
$darkest-color: #279E5F;
$dark-color: #555;

$link-color: #3498DB;
$link-hover-color: #2c80b9;
$critical-color: #EB4D4B;

// fonts
$font: "Nunito-Regular", Arial, Helvetica, sans-serif;
$font-bold: "Nunito-Bold", Arial, Helvetica, sans-serif;
$font-extrabold: "Nunito-ExtraBold", Arial, Helvetica, sans-serif;
$font-black: "Nunito-Black", Arial, Helvetica, sans-serif;
$display-bolditalic: "PlayfairDisplay-BoldItalic", Arial, Helvetica, sans-serif;
$display-regular:"Playfair-Display-Regular", Arial, Helvetica, sans-serif;
$poppins-light:"Poppins-Light", Arial, Helvetica, sans-serif;
$poppins-regular:"Poppins-Regular", Arial, Helvetica, sans-serif;