footer.footer
    .footer-top.footer-top_mb
        .footer-top__logo
            h1.title-h1 MItalent
        .footer-top__subs
            span.span-subs.span-subs_mr sign up our newsletter
            +svg('letter-svg','envelope')

    .footer-bottom.footer-bottom_mb
        .footer-bottom__copyright
            span.span-copyright © 2018 MI Talent. Designed by Tranmautritam for Mass Impressions.

        .footer-bottom_soc
            .footer-bottom_soc-item
                a(href="")
                    +svg('footer-soc','facebook')
                a(href="")
                    +svg('footer-soc','instagram')
                a(href="")
                    +svg('footer-soc','youtube')
                a(href="")
                    +svg('footer-soc','twitter')
