include ../mixins/mixins

header.header
    .container
        //h1.text-center.text-uppercase header

        .row
            .col-12
                div.menu-wrapper
                    include ../components/menu
