//nav.navbar.navbar-expand-lg
    button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        +svg('bars-icon','list')

    .navbar-collapse.collapse(id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="#") ana səhifə
            li.nav-item
                a.nav-link(href="#") haqqımızda
            li.nav-item
                a.nav-link(href="#") məhsullar
            li.nav-item
                a.nav-link(href="#") əlaqə
            li.nav-item
                a.nav-link(href="#") ana səhifə
            li.nav-item
                a.nav-link(href="#") əlaqə
            li.nav-item
                a.nav-link(href="#") ana səhifə

